body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background: #e2dedb;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  box-shadow: 0 0 15px -6px #00000073;
  color: #b3aca7;
}
table tr {
  background: #e2dedb;
}
table tbody tr:hover{
  color: #b3aca7;
}
table th,
table td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
}
table thead th {
    font-size: .85em;
    padding: 1em;
}
table thead tr{
  background: #dd9a67;
  color:rgb(255, 255, 255);
}
table tbody th {
  text-align: left;
  font-size: .8em;
}
.txt{
   text-align: left;
   font-size: .75em;
}
.price{
  text-align: right;
  color: #000;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  table{width: 100%;}
}